.small-padding {
  padding: 5px 10px !important;
}

.medium-padding {
  padding: 10px 10px !important;
}

.left-gap {
  margin-left: 8px !important;
}

.right-gap {
  margin-right: 8px !important;
}

.right-gap-long {
  margin-right: 20px !important;
}

.off-text-transform {
  text-transform: unset !important;
}

.label-padding {
  padding: 4px 14px !important;
}

.right-margin {
  margin-right: 7px;
}

.big-width {
  width: 1000px;
}
