.off-text-transform {
  text-transform: unset !important;
}

.label-padding {
  padding: 4px 14px !important;
}

.right-margin {
  margin-right: 7px;
}

.big-width {
  width: 1000px;
}

td, th {
  padding: 3px 6px;
}

button {
  padding: 7px 12px !important;
}

input {
  padding: 7px 12px !important;
}
